{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>
            {% block title %}
            {% endblock %}
        </title>

<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    </head>
    <body id="page-top">
    {% if request.path == '/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:main' %}">Główna</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Kontakt</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:vacancies' %}">Oferty pracy</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:main' %}"><strong>PL</strong></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:main' %}">UA</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:main' %}">EN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% elif request.path == '/vacancies/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'pl:main' %}">Główna</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Kontakt</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:vacancies' %}">Oferty pracy</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:vacancies' %}"><strong>PL</strong></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:vacancies' %}">UA</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:vacancies' %}">EN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% elif request.path == '/ru/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:main' %}">Головна</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Контакти</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:vacancies' %}">Вакансії</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:main' %}">PL</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:main' %}"><strong>UA</strong></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:main' %}">EN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% elif request.path == '/ru/vacancies/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'ru:main' %}">Головна</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Контакти</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:vacancies' %}">Вакансії</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:vacancies' %}">PL</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:vacancies' %}"><strong>UA</strong></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:vacancies' %}">EN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% elif request.path == '/en/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:main' %}">Main</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Contacts</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:vacancies' %}">Vacancies</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:main' %}">PL</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:main' %}">UA</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:main' %}"><strong>EN</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% elif request.path == '/en/vacancies/' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top" style="color: #e6b800;"><strong><span style="color: red;">TT</span><span>CONSULTING</span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'en:main' %}">Main</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="#contact">Contacts</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:vacancies' %}">Vacancies</a></li>

                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>
                        <li class="nav-item text-center"><a class="nav-link" href=""></a></li>

                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'pl:vacancies' %}">PL</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'ru:vacancies' %}">UA</a></li>
                        <li class="nav-item text-center"><a class="nav-link" href="{% url 'en:vacancies' %}"><strong>EN</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
        {% block content %}

        {% endblock %}

        <footer class="py-3 bg-dark">
            <br><br>
            <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3 text-center">
                    <a style="font-size: 25px;" class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" href="/" aria-label="Bootstrap">
                        <strong><span style="color: red;">TT</span><span style="color: #e6b800;">CONSULTING</span></strong>
                    </a>
                    <br>
                    <ul class="list-unstyled small text-light">
                        {% if request.path == '/' %}
                        <li class="mb-2 text-center" style="font-size: 20px;"><strong>Zrobimy!</strong></li>
                        <li class="mb-2 text-center" style="font-size: 15px;"><strong>pracuje od 2004 roku</strong></li>
                        {% elif 'ru' in request.path %}
                        <li class="mb-2 text-center" style="font-size: 20px;"><strong>Ми зробимо!</strong></li>
                        <li class="mb-2 text-center" style="font-size: 15px;"><strong>працюємо з 2004 року</strong></li>
                        {% elif 'en' in request.path %}
                        <li class="mb-2 text-center" style="font-size: 20px;"><strong>We will do!</strong></li>
                        <li class="mb-2 text-center" style="font-size: 15px;"><strong>work since 2004</strong></li>
                        {% endif %}
                    </ul>
                    <br>
                    <ul class="list-unstyled small">
                        <li class="mb-2 text-light">Created by <a href="https://www.linkedin.com/in/andrew-fesenko-9b5313206/" style="text-decoration: none; color: #80aaff;">fesenkoaa</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 text-light">
                    <h5></h5>
                    <br>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 text-light">
                    <h5></h5>
                    <br>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                        <li class="mb-2"><a href="#" style="text-decoration: none; color: white;"></a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 text-light">
                    <ul class="list-unstyled">
                        {% if 'ru' in request.path %}
                        <li class="mb-2 text-center"><a href="{% url 'ru:main' %}" style="text-decoration: none; color: white; font-size: 16px;">Головна</a></li>
                        <li class="mb-2 text-center"><a href="#contact" style="text-decoration: none; color: white; font-size: 16px;">Контакти</a></li>
                        <li class="mb-2 text-center"><a href="{% url 'ru:vacancies' %}" style="text-decoration: none; color: white; font-size: 16px;">Вакансії</a></li>
                        {% elif 'en' in request.path %}
                        <li class="mb-2 text-center"><a href="{% url 'en:main' %}" style="text-decoration: none; color: white; font-size: 16px;">Main</a></li>
                        <li class="mb-2 text-center"><a href="#contact" style="text-decoration: none; color: white; font-size: 16px;">Contacts</a></li>
                        <li class="mb-2 text-center"><a href="{% url 'en:vacancies' %}" style="text-decoration: none; color: white; font-size: 16px;">Vacancies</a></li>
                        {% else %}
                        <li class="mb-2 text-center"><a href="{% url 'pl:main' %}" style="text-decoration: none; color: white; font-size: 16px;">Główna</a></li>
                        <li class="mb-2 text-center"><a href="#contact" style="text-decoration: none; color: white; font-size: 16px;">Kontakt</a></li>
                        <li class="mb-2 text-center"><a href="{% url 'pl:vacancies' %}" style="text-decoration: none; color: white; font-size: 16px;">Oferty pracy</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3 text-light">
                    <ul class="list-unstyled">
                        <li class="mb-2" style="text-decoration: none; color: white; font-size: 16px;">+48 884 797 600</li>
                        <li class="mb-2" style="text-decoration: none; color: white; font-size: 16px;">info@ttconsulting.com.pl</li>
                        <li class="mb-2" style="text-decoration: none; color: white; font-size: 16px;">Jelenia Gora, Poland</li>
                    </ul>
                </div>
            </div>
        </div>
            <style>
                .tab {
                    display: inline-block;
                    margin-left: 40px;
                }
            </style>
            <p class="text-light text-center">
                <a href="{% url 'pl:main' %}" style="text-decoration: none; color: white; font-size: 14px;"><span>Polski</span></a>
                <span class="tab"></span>
                <a href="{% url 'ru:main' %}" style="text-decoration: none; color: white; font-size: 14px;"><span>Український</span></a>
                <span class="tab"></span>
                <a href="{% url 'en:main' %}" style="text-decoration: none; color: white; font-size: 14px;"><span>English</span></a>
            </p>
        </footer>
    </body>
</html>
